*{
	margin: 0;
	font-family: tf2;
}
body{
	background-image: url(imagenes/fondo.jpg);
}

input{
	cursor: pointer;
	font-size: large;
}

#header{
	text-decoration: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: rgb(53, 53, 53);
	color: rgb(204, 133, 0);
	margin: 7px;
	padding: 5px;
	border-radius: 10px;
	z-index: 1;
}

.headerLink{
	text-decoration: none;
	color: rgb(204, 133, 0);
}

#login{
	background: rgb(0, 0, 0);
	padding: 5px;
	border: none;
	border-radius: 10px;
	color: rgb(204, 133, 0);
}

#main{
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

#side{
	background: #DB997B;
	border-radius: 10px;
	padding: 10px;
	margin-top: 5px;
	height: fit-content;
	width: 35%;
}

#content{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
}

.imageLinks{
	border-radius: 10px;
	background: #8C313E;
	padding: 30px;
	border-style: solid;
	cursor: pointer;
	margin-top: 5px;
}

#imageLinksContainer{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;
}

.imageButton{
	border-radius: 10px;
}

#mainLinks{
	background-color: #DED7A5;
	margin-top: 20px;
	border-radius: 10px;
	width: 100%;
	margin: 20px;
}

.links{
	padding: 20px;
	border-bottom: solid;
	text-decoration: none;
}
.date{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}

#footer{
	background: rgb(53, 53, 53);
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: sticky;
	bottom: 0%;
	z-index: 1;
	width: 100%;
	font-family: 'Times New Roman', Times, serif;
	color: white;
}


/* Socials */
#twitter {
	color: #55acee;
	text-align: center;
	font-size: 5vh;
	width: 5.3vh;
	height: 5.3vh;
	margin: 1vh;
	text-decoration: none;
}

#youtube {
	color: #bb0000;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 10%, #ffffff 10%, #ffffff 90%, rgba(0, 0, 0, 0) 90%);
	text-align: center;
	font-size: 5vh;
	width: 5vh;
	height: 3vh;
	margin: 1vh;
	line-height: 23px;
	text-decoration: none;
}

#facebook{
	color: #4267B2;
	text-align: center;
	font-size: 5vh;
	width: 5vh;
	height: 3vh;
	margin: 1vh;
	line-height: 23px;
	text-decoration: none;
}

@font-face {
    font-family: 'tf2';
    src: url('fuentes/tf2build.ttf');
}
