*{
	margin: 0;
	padding: 0;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#header{
	background-color: #ab2a3e;
	font-size: 2em;
	text-align: center;
}

#main{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border: 1px solid #000;
	margin: 20px;
	padding: 20px;
	width: fit-content;
}